.split {
    height: 100%;
    width: 50%;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 25px;
}

.left {
    float: left;
}

.right {
    float: right;
}

table {
    border-style: dotted;
}

td {
    text-align: center;
    border-style: groove;
}

canvas {
    position: fixed;
}

body {
    background-image: url(sky.jpg);
}

#myTable {
    background-color:navy;
    color: white;
    opacity: 70%;
}

#myTable2 {
    background-color : navy;
    color: white;
    opacity: 70%;
}

h1 {
    text-align: center;
    color:white;
}