table {
    border-style: dotted;
}

.tab1 {
    position:absolute;
    left:45%;
}

td {
    border-style:groove;
    text-align:center;

}

.tab2 {
    position:absolute;
    right:0px;
}

canvas {
    position: fixed;
}

body {
    background-image: url(sky.jpg);
    background-repeat:no-repeat;
    background-attachment:fixed;
}

#myTable {
    background-color:black;
    color: white;
    opacity: 90%;
}

#myTable2 {
    background-color : black;
    color: white;
    opacity: 90%;
}

h1 {
    text-align: center;
    color:white;
}

#rickpic {
    position:fixed;
    left:45%;
    z-index:-1;
    opacity:50%;
}
